{% extends "../base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<div id='head'>
  <h1>Hola bienvenido al portal de votaciones<h1>
  <!--<a href="http://127.0.0.1:8000/admin"><input type="button" value="Conectarte como administrador"></a>
  <a href="http://127.0.0.1:8000/accounts/login"><input type="button" value="Login"></a>
  <a href="http://127.0.0.1:8000/registro"><input type="button" value="Registro"></a>-->
</div>
{% endblock %}
