<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Panel Administrador</a></li>
        {% if user.is_authenticated %}
         <li><a href="/index">Encuestas</a></li>
         <li><a href="{% url "logout" %}">Desconectar</a></li>
        {% else %}
          <li><a href="/accounts/login">Conectar</a></li>
        {%endif%}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{% if user.is_authenticated %}
        				Usuario: {{user}}
    				  {% else %}
        				Usuario desconectado
    				  {% endif %}
        </a></li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
